$primary: #01F0FF;
$secondary: #FF02F8;
$secondary20: #FF02F820;
$accent: #FCEE0D;
$accent20: #FCEE0D20;
$background-dark: #0B0523;
$text-primary: #ffffff;
$text-secondary: #c1c1c1;
$text-accent: #000000;
$text-button: #01F0FF;

$header-height: 90px;